/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
@import "../color/colors";

@theme: default;

// The prefix to use on all css classes from ant.
@ant-prefix: ant;

// An override for the html selector for theme prefixes
@html-selector: html;

@primary-color: #ff9f1c;
@info-color: #fa14a2;
@success-color: #52c41a;
@warning-color: #faad14;
@error-color: #f5222d;
@processing-color: #0996e7;
