@import "~antd/dist/antd.less";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Roboto:wght@400;700&display=swap");

/* ######   ##        #######  ########     ###    ##       
##    ##  ##       ##     ## ##     ##   ## ##   ##       
##        ##       ##     ## ##     ##  ##   ##  ##       
##   #### ##       ##     ## ########  ##     ## ##       
##    ##  ##       ##     ## ##     ## ######### ##       
##    ##  ##       ##     ## ##     ## ##     ## ##       
 ######   ########  #######  ########  ##     ## ########  */
@primary-color: black;
@link-decoration: black;
@link-active-color: black;
@link-hover-color: black;
@link-hover-decoration: black;
@link-focus-decoration: black;
@link-focus-outline: black;
@text-color-inverse: black;
@text-selection-bg: white;

:root {
  --orange: #ff9f1c;
  --yellow: #fdca40;
  --dark-grey: #303030;
  --light-grey: #f5f5f5;
  --black: #000000;
  --dark-red: #9a1809;
  --primary-color: black;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  margin: auto;
}

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: var(--black);
  font-size: 36px;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: var(--black);
  font-size: 18px;
}

body a {
  text-decoration: none;
  color: var(--black);
  transition: none;
  outline: none;
}

button {
  border: none;
  border-radius: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 35px;
}

.content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .content {
    width: 80%;
    margin: 0 4%;
  }
}
::selection {
  background: none;
  color: black;
}

a:hover,
a:active,
a:focus {
  color: black !important;
}

html {
  --antd-wave-shadow-color: black !important;
}

.ant-form-item-explain.ant-form-item-explain-error {
  padding: 0 7%;
  color: red;
  background-color: rgb(255 255 255 0.5);
}

.ant-form-item-has-error.ant-form-item-has-feedback
  .ant-form-item-children-icon,
.ant-form-item-has-success.ant-form-item-has-feedback
  .ant-form-item-children-icon {
  padding-right: 14%;
}

/* ##    ##    ###    ##     ## ########     ###    ########  
###   ##   ## ##   ##     ## ##     ##   ## ##   ##     ## 
####  ##  ##   ##  ##     ## ##     ##  ##   ##  ##     ## 
## ## ## ##     ## ##     ## ########  ##     ## ########  
##  #### #########  ##   ##  ##     ## ######### ##   ##   
##   ### ##     ##   ## ##   ##     ## ##     ## ##    ##  
##    ## ##     ##    ###    ########  ##     ## ##     ##  */

@media (min-width: 768px) {
  .links {
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: flex-end !important;
    margin-right: none !important;
  }
  .navbar {
    width: 90%;
    margin: 0 auto;
  }
  .links a,
  button {
    margin-right: 10% !important;
  }
}

.navbar {
  display: flex;
  height: 10%;
  width: 100%;
  align-items: center;
  padding: 3% 0 5% 0;
}

.logo {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 24px;
  width: 50%;
  padding-left: 5%;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  font-size: 14px;
  padding-left: 5%;
  margin-right: 5%;
}

.links a {
  margin: auto;
}

.links svg {
  width: 1.5em;
  height: 1.5em;
}

.back-button {
  width: 35px;
  margin: 10% 0 5% 0;
  background-color: var(--light-grey);
}

.footer {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: flex-end;
  height: 20px;
  font-family: "Nunito", sans-serif;
}

.footer img {
  margin-left: 5%;
}

/* 
########     ###     ######  ##    ##  ######   ########   #######  ##     ## ##    ## ########  
##     ##   ## ##   ##    ## ##   ##  ##    ##  ##     ## ##     ## ##     ## ###   ## ##     ## 
##     ##  ##   ##  ##       ##  ##   ##        ##     ## ##     ## ##     ## ####  ## ##     ## 
########  ##     ## ##       #####    ##   #### ########  ##     ## ##     ## ## ## ## ##     ## 
##     ## ######### ##       ##  ##   ##    ##  ##   ##   ##     ## ##     ## ##  #### ##     ## 
##     ## ##     ## ##    ## ##   ##  ##    ##  ##    ##  ##     ## ##     ## ##   ### ##     ## 
########  ##     ##  ######  ##    ##  ######   ##     ##  #######   #######  ##    ## ########   */

/* DARK RED SVG BACKGROUND */
.dark-red {
  position: absolute;
  width: 319.42px;
  height: 285.83px;
  left: -45px;
  top: 363px;
}

/* YELLOW SVG BACKGROUND */
.yellow {
  position: absolute;
  width: 319.42px;
  height: 285.83px;
  left: -79px;
  top: 529px;
}

/* RED SVG BACKGROUND */
.orange-red {
  position: absolute;
  height: 185px;
  left: 169.07px;
  top: 455px;
}

/* LIGHT PINK SVG  */
.light-pink {
  position: absolute;
  width: 273.86px;
  height: 245.69px;
  left: 20.86px;
  top: 150px;
  transform: rotate(82deg);
}

/* PURPLE SVG  */
.purple {
  position: absolute;
  width: 499.85px;
  height: 447.29px;
  left: 54.12px;
  transform: rotate(-177.23deg);
}

/* LIGHT ORANGE  */
.light-orange {
  position: absolute;
  width: 499.85px;
  height: 447.29px;
  left: 128px;
  top: 152px;
  transform: rotate(-9.23deg);
}

.svg-background {
  z-index: -2;
}

/* ##     ##    ###    #### ##    ## 
###   ###   ## ##    ##  ###   ## 
#### ####  ##   ##   ##  ####  ## 
## ### ## ##     ##  ##  ## ## ## 
##     ## #########  ##  ##  #### 
##     ## ##     ##  ##  ##   ### 
##     ## ##     ## #### ##    ##  */

.main {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* ########  #######  ########  ##     ## 
##       ##     ## ##     ## ###   ### 
##       ##     ## ##     ## #### #### 
######   ##     ## ########  ## ### ## 
##       ##     ## ##   ##   ##     ## 
##       ##     ## ##    ##  ##     ## 
##        #######  ##     ## ##     ##  */

.ant-form {
  display: flex;
  flex-direction: column;
}

.ant-form input {
  width: 95%;
  border: none;
  height: 40px;
  background: var(--light-grey);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  margin: 2%;
  padding-left: 5%;
  padding-right: 5%;
  outline: none;
}

.ant-input-affix-wrapper {
  border: none;
  padding: 0;
  background: none;
}

.ant-input-affix-wrapper:hover {
  border: none;
}

.ant-input-suffix {
  margin-left: -40px;
  z-index: 2;
}

.ant-input-affix-wrapper > input.ant-input {
  padding: 5%;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border: none;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  width: 95%;
  border: none;
  height: 40px;
  background: var(--light-grey);
  color: var(--dark-grey);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  margin: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  outline: none;
}

.ant-select-arrow {
  padding-right: 10%;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: var(--dark-red);
  color: white;
}

.ant-form input[type="file"] {
  width: 95%;
  border: none;
  height: 40px;
  background: var(--light-grey);
  color: var(--dark-grey);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  margin: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  outline: none;
}

.ant-form-item-label > label {
  padding-left: 5%;
}

.ant-col .ant-form-item-label {
  font-family: "Roboto", sans-serif;
}

.form {
  height: 100%;
  padding: 4%;
}

.form h1 {
  margin-bottom: 0;
  padding-left: 2%;
}

.form h2 {
  padding-left: 2%;
}

.ant-form-item {
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
}
.ant-form-item-label {
  padding: 0;
}

.ant-form-item-label > label {
  padding-left: 3%;
}
.form .preview {
  z-index: 2;
  width: 50%;
  margin: 0 25%;
}

.main-form-button {
  width: 50px;
  height: 50px;
  margin-left: 80%;
  margin-top: 10%;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--light-grey);
}

@media (min-width: 768px) {
  .ant-form {
    width: 500px;
    margin: 5% auto;
  }
  .ant-row {
    display: flex;
    align-items: center;
    margin-bottom: 3% !important;
  }

  .ant-form-item-label > label {
    min-width: 100px;
  }
}

// #     #
// #     #  ####  #    # ######
// #     # #    # ##  ## #
// ####### #    # # ## # #####
// #     # #    # #    # #
// #     # #    # #    # #
// #     #  ####  #    # ######

.home-container .content {
  padding: 0 5% 0 5%;
}

@media (min-height: 768px) {
  .home-container .content {
    padding: 0 5% 0 0;
  }
}

/* ##        #######   ######   #### ##    ## 
##       ##     ## ##    ##   ##  ###   ## 
##       ##     ## ##         ##  ####  ## 
##       ##     ## ##   ####  ##  ## ## ## 
##       ##     ## ##    ##   ##  ##  #### 
##       ##     ## ##    ##   ##  ##   ### 
########  #######   ######   #### ##    ##  */

.login form {
  min-height: 50vh;
}

.main-form-button svg {
  color: black;
  width: 1.5em;
  height: 1.5em;
}

.login .bottom-links {
  flex: 1;
}

.login h1 {
  padding-left: 5%;
}

@media (min-width: 768px) {
  .login {
  }
}
@media (min-width: 1024px) {
  .login {
    width: 500px;
    margin-left: 27%;
    display: flex;
    align-items: flex-start;
    padding: 0% !important;
  }
  .login h1 {
    text-align: center;
    padding-left: 0%;
    margin-top: 10%;
  }
}

.login {
  position: fixed;
  padding: 5%;
}

// #####  ###  #####  #     # #     # ######
// #     #  #  #     # ##    # #     # #     #
// #        #  #       # #   # #     # #     #
//  #####   #  #  #### #  #  # #     # ######
//       #  #  #     # #   # # #     # #
// #     #  #  #     # #    ## #     # #
//  #####  ###  #####  #     #  #####  #

#signup {
  margin-top: 5%;
}

.create .ant-form-item {
  margin-bottom: 5%;
}

.signup-button {
  margin-left: 70%;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--light-grey);
  color: black;
}

/*
 ######  ##       #### ########  ######## ########  
##    ## ##        ##  ##     ## ##       ##     ## 
##       ##        ##  ##     ## ##       ##     ## 
 ######  ##        ##  ##     ## ######   ########  
      ## ##        ##  ##     ## ##       ##   ##   
##    ## ##        ##  ##     ## ##       ##    ##  
 ######  ######## #### ########  ######## ##     ## */
// .carousel {
//   hheight: 400px;
// }

// .slider-container {
//   hheight: 400px;
//   pposition: relative;
//   mmax-width: 100%;
//   margin: auto;
// }

// .horizontalSlider___281Ls {
//   height: 300px;
// }
.carousel-items {
  display: flex;
  overflow-x: scroll;
  padding: 1rem 0;
  scroll-snap-type: x mandatory;
}

.carousel-item {
  fflex: 1 0 250px;
  margin-left: 1rem;
  scroll-snap-align: start;
  display: inline-block;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #3d4852;
  border-radius: 3px;
}

/* 
 ######     ###    ########  ########  
##    ##   ## ##   ##     ## ##     ## 
##        ##   ##  ##     ## ##     ## 
##       ##     ## ########  ##     ## 
##       ######### ##   ##   ##     ## 
##    ## ##     ## ##    ##  ##     ## 
 ######  ##     ## ##     ## ########   */

/* HOME CARD CONTAINER */
.home-card-container {
  width: 768;
  margin: 20px auto;
  columns: 2;
  column-gap: 40px;
}

@media (max-width: 1600px) {
  .home-card-container {
    columns: 4;
    width: calc(100%-40px);
    box-sizing: border-box;
  }
}

@media (max-width: 1200px) {
  .home-card-container {
    columns: 3;
    width: calc(100%-40px);
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .home-card-container {
    columns: 2;
  }
}

@media (max-width: 425px) {
  .home-card-container {
    columns: 1;
  }
}

/* GLOBAL CONTAINER */
.card-container {
  width: 350px;
  max-width: 300px;
  background: rgba(250, 250, 250, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 0 0 20px;
  ppadding: 10px;
  overflow: hidden;
  break-inside: avoid;
}

.card-container li {
  list-style: none;
  padding: 0 10px 0 0;
  padding: 0;
  margin: 0;
}

/* TOP OF THE CARD */
.card-top {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 15px;
  height: 100px;
}

.card-technology {
  text-transform: uppercase;
  padding-left: 0;
  text-align: right;
  margin: 0;
}

.card-technology li {
  font-size: 12px;
  background-color: grey;
  ddisplay: inline-block;
  margin-bottom: 3px;
  padding: 1px 3px;
}

.card h2 {
  font-size: 25px;
  width: 70%;
  margin: 0;
  line-height: normal;
  font-weight: bold;
}

/* BOTTOM OF THE CARD */
.card-bottom {
  padding: 15px 15px 5px 15px;
}

.card-type {
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
}

.card-type ul {
  margin-bottom: 0;
}

.card-type li {
  background: rgba(0, 0, 0, 0.69);
  font-size: 12px;
  border-radius: 15px;
  color: white;
  padding: 3px 10px;
  margin: 4px 4px 0 0;
}

.card p {
  font-size: 13px;
  border-top: 1px solid black;
  padding: 10px 0;
  height: 105px;
}

/* 
##     ##  #######  ##     ## ######## 
##     ## ##     ## ###   ### ##       
##     ## ##     ## #### #### ##       
######### ##     ## ## ### ## ######   
##     ## ##     ## ##     ## ##       
##     ## ##     ## ##     ## ##       
##     ##  #######  ##     ## ########  */

// ######
// #     # ###### #####   ##   # #         #####  ######  ####   ####   ####  #    # #####   ####  ######
// #     # #        #    #  #  # #         #    # #      #      #      #    # #    # #    # #    # #
// #     # #####    #   #    # # #         #    # #####   ####   ####  #    # #    # #    # #      #####
// #     # #        #   ###### # #         #####  #           #      # #    # #    # #####  #      #
// #     # #        #   #    # # #         #   #  #      #    # #    # #    # #    # #   #  #    # #
// ######  ######   #   #    # # ######    #    # ######  ####   ####   ####   ####  #    #  ####  ######

.detail-ressource {
  width: 90%;
}

.content-ressource {
  background-color: rgba(250, 250, 250, 0.9);
  border-radius: 15px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.detail-ressource h1 {
  padding-left: 2%;
}

.content-ressource p {
  font-family: "Nunito", sans-serif;
}

.content-ressource .label {
  font-weight: 700;
}

.content-ressource .link {
  border-radius: 25px;
  color: white !important;
  background: rgb(154, 9, 96);
  background: linear-gradient(
    132deg,
    rgba(228, 92, 70, 1) 36%,
    rgba(154, 9, 96, 0.9878326330532213) 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 5%;
  position: relative;
  top: 35px;
  left: 55%;
}

.button-ressource {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  align-items: baseline;
}

.admin-button {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.admin-button > button,
.admin-button > a {
  margin: auto;
}

.button-ressource .ant-btn {
  background-color: var(--light-grey);
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

.ant-btn:not([disabled]):active {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.technology {
  color: white;
  background: rgb(154, 9, 96);
  background: linear-gradient(
    132deg,
    rgba(228, 92, 70, 1) 36%,
    rgba(154, 9, 96, 0.9878326330532213) 100%
  );
  border-radius: 15px;
  padding: 2%;
  margin: 1.5%;
  position: relative;
  top: -25px;
  left: -1%;
}

.technology-p {
  margin: -1%;
}

.image-container {
  display: flex;
}

.detail-ressource .preview {
  z-index: 2;
  width: 45%;
  margin: 5% auto;
  border-radius: 2%;
}
