@import "~antd/dist/antd.less";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Roboto&display=swap");

/* ######   ##        #######  ########     ###    ##       
##    ##  ##       ##     ## ##     ##   ## ##   ##       
##        ##       ##     ## ##     ##  ##   ##  ##       
##   #### ##       ##     ## ########  ##     ## ##       
##    ##  ##       ##     ## ##     ## ######### ##       
##    ##  ##       ##     ## ##     ## ##     ## ##       
 ######   ########  #######  ########  ##     ## ########  */
@primary-color: black;
@link-decoration: black;
@link-active-color: black;
@link-hover-color: black;
@link-hover-decoration: black;
@link-focus-decoration: black;
@link-focus-outline: black;
@text-color-inverse: black;
@text-selection-bg: white;

:root {
  --orange: #ff9f1c;
  --yellow: #fdca40;
  --dark-grey: #303030;
  --light-grey: #f5f5f5;
  --black: #000000;
  --dark-red: #9a1809;
  --primary-color: black;
  --light-red: #e45c46;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  margin: auto;
}

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: var(--black);
  font-size: 36px;
}

body a {
  text-decoration: none;
  color: var(--black);
  transition: none;
  outline: none;
}

button {
  border: none;
  border-radius: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 35px;
}

.content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .content {
    width: 80%;
    margin: 0 4%;
  }
}
::selection {
  background: none;
  color: black;
}

a:hover,
a:active,
a:focus {
  color: black !important;
}

html {
  --antd-wave-shadow-color: black !important;
}

/* ##    ##    ###    ##     ## ########     ###    ########  
###   ##   ## ##   ##     ## ##     ##   ## ##   ##     ## 
####  ##  ##   ##  ##     ## ##     ##  ##   ##  ##     ## 
## ## ## ##     ## ##     ## ########  ##     ## ########  
##  #### #########  ##   ##  ##     ## ######### ##   ##   
##   ### ##     ##   ## ##   ##     ## ##     ## ##    ##  
##    ## ##     ##    ###    ########  ##     ## ##     ##  */

@media (min-width: 1024px) {
  .links {
    display: flex;
    align-items: center;
    width: 15%;
  }
  .navbar {
    width: 90%;
    margin: 0 auto;
  }
}

.navbar {
  display: flex;
  height: 10%;
  width: 100%;
  align-items: center;
}

.logo {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding-left: 5%;
}

.logo img {
  padding: 20px 0;
  width: 60%;
  max-width: 400px;
  min-width: 150px;
}

.links {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  font-size: 14px;
  margin-right: 5%;
  margin-left: auto;
  padding: 20px 0;
  flex-wrap: wrap;
  width: 200px;
}

.links a {
  margin: auto;
  padding-left: 10%;
  padding-top: 2px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
}

.links svg {
  width: 1.5em;
  height: 1.5em;
}

.back-button {
  width: 35px;
  margin: 10% 0 5% 0;
  background-color: var(--light-grey);
}

.footer {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: flex-end;
  height: 20px;
  font-family: "Nunito", sans-serif;
}

.footer img {
  margin-left: 5%;
}

/* 
########     ###     ######  ##    ##  ######   ########   #######  ##     ## ##    ## ########  
##     ##   ## ##   ##    ## ##   ##  ##    ##  ##     ## ##     ## ##     ## ###   ## ##     ## 
##     ##  ##   ##  ##       ##  ##   ##        ##     ## ##     ## ##     ## ####  ## ##     ## 
########  ##     ## ##       #####    ##   #### ########  ##     ## ##     ## ## ## ## ##     ## 
##     ## ######### ##       ##  ##   ##    ##  ##   ##   ##     ## ##     ## ##  #### ##     ## 
##     ## ##     ## ##    ## ##   ##  ##    ##  ##    ##  ##     ## ##     ## ##   ### ##     ## 
########  ##     ##  ######  ##    ##  ######   ##     ##  #######   #######  ##    ## ########   */

/* DARK RED SVG BACKGROUND */
.dark-red {
  position: absolute;
  width: 319.42px;
  height: 285.83px;
  left: -45px;
  top: 363px;
}

/* YELLOW SVG BACKGROUND */
.yellow {
  position: absolute;
  width: 319.42px;
  height: 285.83px;
  left: -79px;
  top: 529px;
}

/* RED SVG BACKGROUND */
.orange-red {
  position: absolute;
  height: 185px;
  left: 169.07px;
  top: 455px;
}

/* LIGHT PINK SVG  */
.light-pink {
  position: absolute;
  width: 273.86px;
  height: 245.69px;
  left: 20.86px;
  top: 150px;
  transform: rotate(82deg);
}

/* PURPLE SVG  */
.purple {
  position: absolute;
  width: 499.85px;
  height: 447.29px;
  left: 54.12px;
  transform: rotate(-177.23deg);
}

/* LIGHT ORANGE  */
.light-orange {
  position: absolute;
  width: 499.85px;
  height: 447.29px;
  left: 128px;
  top: 152px;
  transform: rotate(-9.23deg);
}

/* ##     ##    ###    #### ##    ## 
###   ###   ## ##    ##  ###   ## 
#### ####  ##   ##   ##  ####  ## 
## ### ## ##     ##  ##  ## ## ## 
##     ## #########  ##  ##  #### 
##     ## ##     ##  ##  ##   ### 
##     ## ##     ## #### ##    ##  */

.main {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}

/* ########  #######  ########  ##     ## 
##       ##     ## ##     ## ###   ### 
##       ##     ## ##     ## #### #### 
######   ##     ## ########  ## ### ## 
##       ##     ## ##   ##   ##     ## 
##       ##     ## ##    ##  ##     ## 
##        #######  ##     ## ##     ##  */

.ant-form {
  display: flex;
  flex-direction: column;
}

.ant-form input {
  width: 95%;
  border: none;
  height: 40px;
  background: var(--light-grey);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  margin: 2%;
  padding-left: 5%;
  padding-right: 5%;
  outline: none;
}

@media (min-width: 768px) {
  .ant-form {
    width: 65%;
  }
}
// #     #
// #     #  ####  #    # ######
// #     # #    # ##  ## #
// ####### #    # # ## # #####
// #     # #    # #    # #
// #     # #    # #    # #
// #     #  ####  #    # ######

.home-container .content {
  padding: 0 5% 0 5%;
}

@media (min-height: 768px) {
  .home-container .content {
    padding: 0 5% 0 0;
  }
}

/* ##        #######   ######   #### ##    ## 
##       ##     ## ##    ##   ##  ###   ## 
##       ##     ## ##         ##  ####  ## 
##       ##     ## ##   ####  ##  ## ## ## 
##       ##     ## ##    ##   ##  ##  #### 
##       ##     ## ##    ##   ##  ##   ### 
########  #######   ######   #### ##    ##  */

@media (min-width: 1024px) {
  .login {
    width: 50%;
    margin-left: 30%;
    display: flex;
    align-items: flex-start;
  }
}
.login form {
  min-height: 50vh;
}

// .ant-form-item-explain-error {
//   background-color: white;
//   color: var(--dark-red);
// }

.login-form-button {
  width: 50px;
  height: 50px;
  margin-left: 80%;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--light-grey);
}

.login-form-button svg {
  color: black;
  width: 1.5em;
  height: 1.5em;
}

.login .bottom-links {
  flex: 1;
}

.login h1 {
  padding-left: 5%;
}

@media (min-width: 768px) {
  .login h1 {
    text-align: center;
    padding-left: 0%;
  }
}

/*
 ######  ##       #### ########  ######## ########  
##    ## ##        ##  ##     ## ##       ##     ## 
##       ##        ##  ##     ## ##       ##     ## 
 ######  ##        ##  ##     ## ######   ########  
      ## ##        ##  ##     ## ##       ##   ##   
##    ## ##        ##  ##     ## ##       ##    ##  
 ######  ######## #### ########  ######## ##     ## */
// .carousel {
//   hheight: 400px;
// }

// .slider-container {
//   hheight: 400px;
//   pposition: relative;
//   mmax-width: 100%;
//   margin: auto;
// }

// .horizontalSlider___281Ls {
//   height: 300px;
// }
.carousel-items {
  display: flex;
  overflow-x: scroll;
  padding: 1rem 0;
  scroll-snap-type: x mandatory;
}

.carousel-item {
  fflex: 1 0 250px;
  margin-left: 1rem;
  scroll-snap-align: start;
  display: inline-block;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #3d4852;
  border-radius: 3px;
}

/* 
 ######     ###    ########  ########  
##    ##   ## ##   ##     ## ##     ## 
##        ##   ##  ##     ## ##     ## 
##       ##     ## ########  ##     ## 
##       ######### ##   ##   ##     ## 
##    ## ##     ## ##    ##  ##     ## 
 ######  ##     ## ##     ## ########   */

/* HOME CARD CONTAINER */
.home-card-container {
  width: 768;
  margin: 20px auto;
  columns: 2;
  column-gap: 40px;
}

@media (max-width: 1600px) {
  .home-card-container {
    columns: 4;
    width: calc(100%-40px);
    box-sizing: border-box;
  }
}

@media (max-width: 1200px) {
  .home-card-container {
    columns: 3;
    width: calc(100%-40px);
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .home-card-container {
    columns: 2;
  }
}

@media (max-width: 425px) {
  .home-card-container {
    columns: 1;
  }
}

/* GLOBAL CONTAINER */
.card-container {
  width: 350px;
  max-width: 300px;
  background: rgba(250, 250, 250, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 0 0 20px;
  ppadding: 10px;
  overflow: hidden;
  break-inside: avoid;
}

.card-container li {
  list-style: none;
  padding: 0 10px 0 0;
  padding: 0;
  margin: 0;
}

/* TOP OF THE CARD */
.card-top {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 15px;
  hheight: 100px;
}

.card-technology {
  text-transform: uppercase;
  padding-left: 0;
  text-align: right;
  margin: 0;
}

.card-technology li {
  font-size: 12px;
  background-color: grey;
  ddisplay: inline-block;
  margin-bottom: 3px;
  padding: 1px 3px;
}

.card h2 {
  font-size: 25px;
  width: 70%;
  margin: 0;
  line-height: normal;
  font-weight: bold;
}

/* BOTTOM OF THE CARD */
.card-bottom {
  padding: 15px 15px 5px 15px;
}

.card-type {
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
}

.card-type ul {
  margin-bottom: 0;
}

.card-type li {
  background: rgba(0, 0, 0, 0.69);
  font-size: 12px;
  border-radius: 15px;
  color: white;
  padding: 3px 10px;
  margin: 4px 4px 0 0;
}

.card p {
  font-size: 13px;
  border-top: 1px solid black;
  padding: 10px 0;
  hheight: 105px;
}

/* 
##     ##  #######  ##     ## ######## 
##     ## ##     ## ###   ### ##       
##     ## ##     ## #### #### ##       
######### ##     ## ## ### ## ######   
##     ## ##     ## ##     ## ##       
##     ## ##     ## ##     ## ##       
##     ##  #######  ##     ## ########  */

// HEADER
.header {
  height: 90vh;
  background: var(--light-red);
  background-image: url("./images/back-header.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  padding: 10%;
}

.header h1 {
  font-size: 40px;
  margin: 0;
  color: white;
}

.multiple-h1 {
  padding-bottom: 30px;
}

.search-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
  margin: 0 auto;
}
